<h1>Cocktails#index</h1>

<p><%= link_to "Create a new cocktail", new_cocktail_path %></p>

<% @cocktails.each do |cocktail| %>
<ul>
  <li>
    <p><%= link_to cocktail.name, cocktail %></p>
  </li>
</ul>
<% end %>
